<!--
To change this template, choose Tools | Templatesand open the template in the editor.
--><!DOCTYPE html>
<html>
    <head>
        <meta content="text/html; charset=UTF-8" http-equiv="content-type">
        <title>Facebook Registration</title>
        <script language="javascript" type="text/javascript">


            function Button1_onclick() {
            
            }


        </script>
        <style>
            #header {
                width: 100%;
                height: 50px;
                background-color: dodgerblue;
            }
            #outer{
                width: 1000px;
                height: 600px;
                background: buttonface;
                margin: 0 auto;
                display: block;
            }
            #inner{
                background: buttonface;
                margin: 50px 50px 50px 300px;
                padding: 0;
                display: block;
            }
        </style>
    </head>
    <body style="text-align: left" bgcolor="white">
        <div id="header">
            <h1 style="color: white; margin-bottom: 0; font-size: 30; height: 200">Facebook+</h1>
        </div>
        <div id="outer">
            <div id="inner" style="font-size: 15px"> <div> <span style="font-size: 30pt; font-family: Arial">
                        Sign Up For Facebook+</span> <br>
                    <span style="font-size: 16pt; font-family: Arial"><em>Sign Up as User</em></span>
                    <br>
                </div>
                <form name="newForm" action="newUser.jsp" method="post"> 
                    <table>
                        <tbody>
                            <tr>
                                <td>SSN:</td><td><input name="SSN" placeholder="SSN" type="text"></td>
                            </tr>
                            <tr>
                                <td>User ID:</td><td><input name="User_Id" placeholder="User ID" type="text"></td>
                            </tr>

                            <tr>
                                <td>First Name: </td><td><input name="First Name" placeholder="First Name" type="text"></td>

                            </tr>
                            <tr>
                                <td>Last Name: </td><td><input name="Last Name" placeholder="Last Name" type="text"> </td>
                            </tr>
                            <tr>
                                <td> Address: </td> <td><input name="Address" placeholder="Address" type="text"></td>
                            </tr>
                            <tr>
                                <td> City: </td><td><input name="City" placeholder="City" type="text"></td>
                            </tr>
                            <tr>
                                <td> State: </td>   <td><input name="State" placeholder="State" type="text"></td>
                            </tr>
                            <tr>
                                <td>Zip Code: </td><td><input name="Zip Code" placeholder="Zip Code" type="text"> </td>
                            </tr>

                            <tr>
                                <td> Telephone:</td> <td>  <input name="Telephone" placeholder="Telephone" type="text"> </td>
                            </tr>
                            <tr>
                                <td> Email: </td>   <td> <input name="Email" placeholder="Email" type="text"></td>
                            </tr>
                            <tr>
                                <td> Creation Date: </td><td><input name="Creation Date" placeholder="Creation Date" type="text"></td>
                            </tr>
                            <tr>
                                <td> Rating: </td><td><input name="Rating" placeholder="Rating" type="text"> </td>
                            </tr>
                            <tr>
                                <td><button type="button">Sign Up</button> </td>
                                <td><button type = "button"> Cancel</button></td>
                            </tr>

                        </tbody>
                    </table>
                </form>
            </div>
        </div>
    </body>
</html>
